#packer
variables.json
.//packer-base/variables.json
*.tfstate

#terraform
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
../terraform/.terraform/
*.retry
.terraform.tfstate.lock.info
../terraform/.terraform.tfstate.lock.info

#ansible
jdauphant.nginx
vault.key

#vagrant & molecule
./vagrant/
./.vagrant/
*.log
*.pyc
*.molecule
*.cache
*.pytest_cache
./venv/
./.venv/

