variables.json
.//packer-base/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
../terraform/.terraform/
*.retry
.terraform.tfstate.lock.info
../terraform/.terraform.tfstate.lock.info
jdauphant.nginx
vault.key


