roject = "infra-226616"
public_key_path = "~/.ssh/id_rsa.pub"
private_key_path = "~/.ssh/id_rsa"
disk_image = "reddit-base"
region = "europe-west1"
zone = "europe-west1-c"
count_app = "1"
count_db = "1"
source_ranges = ["0.0.0.0/0"]
